@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: fixed url('/Images/store.jpg');
  }
  .container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
  }
  .container header{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  .container .form{
    margin-top: 3opx;
  }
  .form .input-box{
    width: 100%;
    margin-top: 20px;
  }
  .input-box label{
color: #333;
  }
  .form :where(.input-box input, .select-box){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  .form .column{
    display: flex;
    column-gap: 15px;
  }
.select-box select{
height: 100%;
width: 100%;
outline: none;
border: none;
color: #707070;
font-size: 1rem;
display: flex;
column-gap: 15px;
}
.form button{
    height: 55px;
    width: 100%;
    color: black;
    border: none;
    font-size: 1rem;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.4s ease;
    background-color: blue;
}
.form button:hover{
    background-color: red;
}
  /* Responsive */
  @media screen and (max-width: 500px) {
    .form .column{
       flex-wrap: wrap; 
    }
  }