/* Orders Table on CustomerOrders.jsp */
.cartContainer {
    background-color: #7070db;
    border-collapse: collapse;
    border-radius: 30px;
    padding: 25px;
}

.cartTableHeaders th {
    text-align: center;
    text-shadow: none;
    font-size: 20px;
}

.totalRow, .totalCell {
    background-color: #b6b6c3;
    color: black;
    text-shadow: none;
    font-weight: bold;
    font-size: 25px;
}

.totalHeader {
    text-align: right;
}

.totalRow {
    text-align: right;
}

.totalCell {
    text-align: center;
}


.productRow td {
    background-color: white;
    color: black;
    text-shadow: none;
    font-size: 17px;
    text-align: center;
    vertical-align: top;
}

.detailsRow th {
    background-color: #444448;
    font-size: 15px;
    text-align: center;
}

.detailsColHead td {
    font-weight: bold;
}
