




/* Orders Tables on CustomerOrders.jsp */
.orderContainer {
    background-color: #7070db;
    border-collapse: collapse;
    border-radius: 30px;
    padding: 25px;
}

.orderNumberCol, .orderDateCol, .orderStatusCol {
    text-align: center;
    vertical-align: top;
}

.orderDetailsCol {
    text-align: center;
}

.totalRow, .totalCell {
    background-color: #b6b6c3;
    color: black;
    text-shadow: none;
}


.productRow td {
    background-color: white;
    color: black;
    text-shadow: none;
}

.detailsRow th {
    background-color: #444448;
}
