/* TODO CSS for products display pages flex-box  */

.flex-box {
    flex-flow: row wrap;
    flex: 2 200px;
}

.product {
    flex-flow: row wrap;
    flex: 1 200px;
}

.flex-box div {
    flex-flow: column wrap;
}